
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-danger fixed-top">
        <div class="container-fluid">
            <a href="https://github.com/Ishnewalon" class="navbar-brand ">
            <i class="fas fa-child text-white fa-2x">Stephanie</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon bg-white"></span>
              </button>

              <div class="collapse navbar-collapse justify-content-end" id="navbar">
                  <ul class="navbar-nav align-self-end">
                      <li class="nav-item dropdown d-none">
                          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenu" role="button" data-toggle="dropdown"><span class="navbar-toggler-icon"></span></a>
                      </li>
                      <li class="nav-item">
                          <a routerLink="home" class="nav-link font-weight-bold text-capitalize text-white px-3">Home</a>
                      </li>
                      <li class="nav-item dropdown" data-toggle="dropdown">
                        <a class="nav-link font-weight-bold text-capitalize text-white dropdown px-3">Tutoriel</a>
                        <div class="dropdown-menu">
                            <a [routerLink]="['/tutoriel', 1]" class="dropdown-item">Mini tutoriel Angular 10</a>
                            <a [routerLink]="['/tutoriel', '2']" class="dropdown-item">Mini tutoriel CRUD</a>
                            <a [routerLink]="['/tutoriel', 3]" class="dropdown-item">Mini tutoriel des relations</a>
                            <a [routerLink]="['/tutoriel', 4]" class="dropdown-item">Mini tutoriel pour s'amuser</a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a [routerLink]="['/formulaire']" class="nav-link font-weight-bold text-capitalize text-white px-3">Formulaire</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/crud']" class="nav-link font-weight-bold text-capitalize text-white px-3">Crud</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/fun']" class="nav-link font-weight-bold text-capitalize text-white px-3">Fun</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/contact']" class="nav-link font-weight-bold text-capitalize text-white px-3">Contact</a>
                    </li>
                  </ul>
              </div>


        </div>
    </nav>
</header>