<h1 class="text-center">Stay In Touch!</h1>
<div class="card">
    <img [src]="['./assets/images/stay-in-touch.jpg']" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Stéphanie Degagné-Kuzak</h5>
        <p class="card-text">Project made using Angular for Programmation Avancé Web at Cégep André-Laurendeau Automne 2020</p>
        <div class="text-center">
            <a href="#"><i class="fab fa-facebook fa-2x mx-2"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x text-info mx-2"></i></a>
            <a href="#"><i class="fab fa-youtube fa-2x text-danger mx-2"></i></a>
            <a href="https://github.com/Ishnewalon"><i class="fab fa-github fa-2x text-dark mx-2"></i></a>
        </div>
    </div>
</div>