<h1 class="text-capitalize text-center">Welcome to your one stop holiday shopping site!</h1>


<section>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-sm-10 py-2">
                <div class="card bg-danger">
                    <img [src]="['assets/images/diamonds.jpg']" alt="Jewelry" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-white text-capitalize">Searching for the right gift for her?</h3>
                        </div>
                        <div >
                            <a [routerLink]="[ '/formulaire']" class="btn btn-light btn-block">Shop Now!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-10 py-2">
                <div class="card bg-danger">
                    <img [src]="['assets/images/tools.jpg']" alt="Tools" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-white text-capitalize">Searching for the right gift for him?</h3>
                        </div>
                        <div >
                            <a [routerLink]="[ '/formulaire']" class="btn btn-light btn-block">Shop Now!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-10 py-2">
                <div class="card bg-danger">
                    <img [src]="['assets/images/toys.jpg']" alt="Kids Toys" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-white text-capitalize">Searching for the right gift for kids?</h3>
                        </div>
                        <div >
                            <a [routerLink]="[ '/formulaire']" class="btn btn-light btn-block">Shop Now!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-10 py-2">
                <div class="card bg-danger">
                    <img [src]="['assets/images/pets.jpg']" alt="Puppy with a toy" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-white text-capitalize">Searching for the right gift for pets?</h3>
                        </div>
                        <div >
                            <a [routerLink]="[ '/formulaire']" class="btn btn-light btn-block">Shop Now!</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>