<footer class="bg-danger top-border fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-9 col-md-8 ml-auto">
                <div class="row border-top-pt-3">
                    <div class="col-lg-6 text-center">
                        <p class="text-capitalize text-white">Christmas shopping done right!</p>
                    </div>
                    <div class="col-lg-6 text-center">
                        <p class="text-capitalize text-white">&copy; 2020 copyright.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>